html, body {
    position: relative;
    height: 100%;
}
*{
    margin:0;
    padding:0;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next{
    transform:rotateZ(-90deg);
    right:50%;
    top:97%;
    margin-right:-13.5px;
    width: 30px;
    height: 25px;
    animation: buttonnext 1.4s ;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
@keyframes buttonnext{
    from{
        top:97%;

    }
    to{
        top:87%;
    }
}

/*第一屏开始*/

.footer img:nth-of-type(1){
    animation: footerya1 2s;
    animation-direction:alternate;

    animation-iteration-count: infinite;
}
@keyframes footerya1 {
    from{
        padding-left:0;

    }
    to{
        padding-left:5%;
    }
}

.footer img:nth-of-type(2){
    animation: footerya2 1.6s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
@keyframes footerya2 {
    from{
        padding-left:3%;

    }
    to{
        padding-left:7%;
    }
}
.s1{
    position: relative;
    height: 100%;
    background:url("../img/bj.png");
}
.s1 .header img{
    position: relative;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 125px;
    left: 52px;
}
.s1 .header img:nth-of-type(2){
    width: 66px;
    top: 102px;
    right: 39px;
    position: absolute;

}
.s1 .header img:nth-of-type(3){
    width: 55px;
    top: 444px;
    left: 40px;
    position: absolute;

}
.s1 .header img:nth-of-type(4){
    width: 55px;
    top: 427px;
    right: 40px;
    position: absolute;
}
.s1 .header img:nth-of-type(5){
    width: 68%;
    position: absolute;
    top: 173px;
    left: 54px;
    animation-iteration-count:infinite;

}
.s1 .main img:nth-of-type(1){
    width: 43%;
    position: relative;
    z-index: 7;
    top: 207px;
    right: 8px;
}
.s1 .main img:nth-of-type(2){
    padding-top: 204px;
    position: relative;
    width: 81%;
}



.s1 .img9{
    width: 52%;
    height: 100%;
    overflow: hidden;
    background: url("../img/15.png");
    margin:0 auto;
    position: relative;
    margin-top: 20px;
    color:#070023;
    font-weight:bold;
}
.text{
    margin-top: 100px;
    width:400px;
    height: 30px;
}
.s1 .footer p{

color:#09e7d7;
   margin-top:10px;
}
.s1 .footer img:nth-of-type(1){
    width: 150%;
    height: 150%;
    position: relative;
    top: 77px;
    left: -67px;
}
.s1 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: -5px;
    left: -104px;

}
.s2{
    width: 100%;
    height: 100%;
    background:url("../img/bj.png");
}

.s2 .header h2{
    color:#00fecc;
    font-size: 25px;
    padding-top: 71px;
}
.s2 .header small{
    color:#00fecc;
    letter-spacing: 5px;
}
.s2 .header::before{
    content:'';
    background:url("../img/14.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    left:10%;
    top:12%;
}
.s2 .header::after{
    content:'';
    background:url("../img/13.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    right:10%;
    top:12%;
}
.s2 .header p{
    color:#00fecc;
    font-family:楷体;
    font-size:15px;
    letter-spacing: 4px;
    line-height: 21px;
    padding: 0px 10px;
}
.s2 .header div{
    position: absolute;
    top:25%;
    width:80%;
    height: 380px;
    left: 50%;
    margin-left: -40%;

}
.s2 div img{
    width: 83%;
    position: absolute;
    left: 33px;
    top: 150px;
    animation-iteration-count:infinite;
}
.s2 .footer img:nth-of-type(1){
    width: 149%;
    height: 178%;
    position: relative;
    top: 477px;
    left: -77px;
}
.s2 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: 398px;
    left: -137px;

}
.s2 .header div span{
    width: 120px;
    height: 28px;
border-radius: 10px;
    font-size:13px;
    color:#11253d;
    font-weight:bold;
    position: relative;
    padding:5px 30px;
    top: 26px;
    left: -1px;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#0ebdce), to(rgba(18, 255, 173, 0.5)));
}
#mp3Btn{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes mp3key{
    from{
        transform: rotateZ(0deg);

    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3Btn img {
    width: 10px;
}




.s3{
    width: 100%;
    height: 100%;
    background:url("../img/bj.png");
}
.s3 .header h2{
    color:#00fecc;
    font-size: 25px;
    padding-top: 71px;
}
.s3 .header small{
    color:#00fecc;
    letter-spacing: 5px;
}
.s3 .header::before{
    content:'';
    background:url("../img/14.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    left:10%;
    top:12%;
}

.s3 .header::after{
    content:'';
    background:url("../img/13.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    right:10%;
    top:12%;
}
.s3 .main p{
    padding: 7px;
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    color: #35f0bb;
    line-height: 60px;
    background:radial-gradient(#020219, #043d50, #056474);
}
.s3 .main p:nth-of-type(1){
    top: 59px;
    left: 65px;

}
.s3 .main p:nth-of-type(2){
    top: -14px;
    left: 232px;
}
.s3 .main p:nth-of-type(3){

    top: 57px;
    left: 288px;

}
.s3 .main p:nth-of-type(4){
    top: -12px;
    left: 11px;
}
.s3 .main p:nth-of-type(5){
    top: 19px;
    left: 65px;
}
.s3 .main p:nth-of-type(6){
    top: -57px;
    left: 236px;

}
.s3 .main p:nth-of-type(7){
    top: -300px;
    left: 120px;
    width: 135px;
    height: 135px;
    line-height: 138px;
    font-size: 32px;
}
.s3 .main .text{
    width: 300px;
    height: 60px;
    position: relative;
    top: -301px;
    left: 36px;
}
.s3 .main .text h3{
    text-align: center;
    color: #35f0bb;
    font-size: 15px;
}
.s3 .footer img:nth-of-type(1){
    width: 149%;
    height: 178%;
    position: relative;
    top: -279px;
    left: -77px;
}
.s3 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: -356px;
    left: -137px;

}
.s4,.s5,.s6,.s7{
    width: 100%;
    height: 100%;
    background:url("../img/bj.png");
}
.s4 .header h2{
    color:#00fecc;
    font-size: 25px;
    padding-top: 71px;
}
.s4 .header small{
    color:#00fecc;
    letter-spacing: 5px;
}
.s4 .header::before{
    content:'';
    background:url("../img/14.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    left:10%;
    top:12%;
}

.s4 .header::after{
    content:'';
    background:url("../img/13.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    right:10%;
    top:12%;
}
.s4  .hehe{
    width: 322px;
    height: 407px;
    position: absolute;
    top: 130px;
    left: 28px;
}
.s4 .main p:nth-of-type(1){
    color:#00f8c3;
    font-size: 15px;
    display: inline-block;
}
.s4 .main p:nth-of-type(2){
    color:#14b8ff;
    font-size: 15px;
    display: inline-block;

}
.s4 .main div{
    margin-left:30px;

}
.s4 .main h3{
    color:#26f9b2;
    float: left;
    margin-left:15px;
    margin-top: 20px;
}
.s4 .main h3 span{
    color:#fff;
}
.s4 .main .yi img{
    width: 263px;
    height: 15px;
}
.s4 .main .yi {
    font-size: 15px;
    color:#00f8c3;
    float: left;
}

.s4 .main .er img{
    width: 130px;
    height: 15px;
}
.s4 .main .er {
    font-size: 15px;
    color:#14b8ff;
    float: left;
}
.s4 .footer img:nth-of-type(1){
    width: 149%;
    height: 178%;
    position: relative;
    top: 111px;
    left: -77px;
}
.s4 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: 35px;
    left: -137px;

}
.s5{
    width: 100%;
    height: 100%;
    background:url("../img/bj.png");
}
.s5 .header h2{
    color:#00fecc;
    font-size: 25px;
    padding-top: 71px;
}
.s5 .header small{
    color:#00fecc;
    letter-spacing: 5px;
}
.s5 .header::before{
    content:'';
    background:url("../img/14.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    left:10%;
    top:12%;
}

.s5 .header::after{
    content:'';
    background:url("../img/13.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    right:10%;
    top:12%;
}
.s5 .header div:nth-of-type(1){
    width: 140px;
    height: 177px;
    position: absolute;
    left: 33px;
    top: 150px;
    background: url(../img/12.png);
    background-size: cover;
    float: left;
}
.s5 .header div:nth-of-type(1){
    width: 140px;
    height: 177px;
    position: absolute;
    left: 33px;
    top: 150px;
    background: url(../img/12.png);
    background-size: cover;
    float: left;
}
.s5 .header div:nth-of-type(2){
    width: 140px;
    height: 177px;
    position: absolute;
    left: 203px;
    top: 150px;
    background: url(../img/12.png);
    background-size: cover;
    float: left;
}
.s5 .header div:nth-of-type(3){
    width: 140px;
    height: 177px;
    position: absolute;
    left: 33px;
    top: 352px;
    background: url(../img/12.png);
    background-size: cover;
    float: left;
}
.s5 .header div:nth-of-type(4){
    width: 140px;
    height: 177px;
    position: absolute;
    left: 202px;
    top: 352px;
    background: url(../img/12.png);
    background-size: cover;
    float: left;
}
.s5 .header img{
    margin-top: 15px;
}
.s5 .header h4{
    color:#00f8c3;
    font-size: 18px;
}
.s5 .header p{
    width: 100px;
    height: 22px;
    background: url("../img/15.png");
    color:#070023;
    font-weight:bold;
    margin:auto;
    background-size: cover;
}
.s5 .footer img:nth-of-type(1){
    width: 149%;
    height: 178%;
    position: relative;
    top: 475px;
    left: -77px;
}
.s5 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: 397px;
    left: -137px;
}
.s6 .header h2{
    color:#00fecc;
    font-size: 25px;
    padding-top: 71px;
}
.s6 .header small{
    color:#00fecc;
    letter-spacing: 5px;
}
.s6 .header::before{
    content:'';
    background:url("../img/14.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    left:10%;
    top:12%;
}

.s6 .header::after{
    content:'';
    background:url("../img/13.png");
    background-size:contain;
    position: absolute;
    width: 80px;
    height: 20px;
    right:10%;
    top:12%;
}
.s6 .main div img:nth-of-type(1){
    width: 24px;
    height: 24px;
    position: relative;
    top: -1px;
    left: -4px;
}
.s6 .main div img:nth-of-type(2){
    width: 280px;
    height: 28px;
}
.s6 .main div h3{
    position: relative;
    top: -27px;
    left: -47px;
    font-size: 17px;
}
.s6 .main div img:nth-of-type(3){
    width: 285px;
    height: 83px;
    position: relative;
    top:-10px;
    left: 10px;;
}
.s6 .main div p{
    margin-top:-5px;
}
.s6 .main div .next{
    color:#00f8c3;
    font-size: 15px;
    width: 261px;
    height: 55px;
    position: relative;
   top:40px;
    left:5px;
}
.s6 .main div:nth-of-type(1){
    position: absolute;
    left: 30px;
    margin-top: 13px;
}
.s6 .main div:nth-of-type(2){
    position: absolute;
    left: 28px;
    margin-top: 155px;}
.s6 .main div:nth-of-type(3){
    position: absolute;
    left: 30px;
    margin-top: 294px;}



.s6 .main div .next p{
    float: left;
}
.s6 .footer img:nth-of-type(1){
    width: 149%;
    height: 178%;
    position: relative;
    top: 475px;
    left: -77px;
}
.s6 .footer img:nth-of-type(2){
    width: 150%;
    height: 150%;
    position: relative;
    top: 397px;
    left: -137px;
}