.warper{
    width: 100%;
    height: 100%;
}
.header{
    width: 90%;
    height: 40px;
    margin:auto;
    margin-top: 10px;
}
.header div{
    float: left;
}

.header .yi{
    width: 15%;

}
.header .yi img{
    width: 30px;
    height: 30px;
}
.header .er img{
    position: absolute;
    top:2%;
    left:20%;
    width: 20px;
}
.header input{
    background-image: url(../images/2.png);
    width: 230px;
    height: 30px;
    border-radius: 5px;
    background: #f4f4f4;
    float: left;
}
.header .er{

}
.header .san img{
    width: 25px;
}
.header .san{
    float: right;
}
.main-top p{
    text-align: center;
}
.main-top img{
    width: 100%;
}

.main h4{
    margin-left:10px;
}
.main-top .col-xs-3{
    width: 25%;
    border-left:1px solid #9A9A9A;
    border-top:1px solid #9A9A9A;
    /*padding-left:10px;*/
    /*padding-right:10px ;*/
}
.baibai img{
    width: 100%;
}
.hehe a{
    color:#E40046;
}
.main{
    width: 100%;
    height: 100%;
}
.baibai{
    background: #fff;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index:99;
}
.baibai img{
    width: 20px;
    height: 20px;
    margin-left: 37%;
    margin-top:10%;
}
.baibai p{
    text-align: center;
    margin-top: 5px;
}
.baibai span{
    color:#E40046;
}
.baibai a{
    color:#343434;
}